################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VistaExamenPlanner/FileContentIndex/a40f503d-dd9c-412b-813e-d93a0ad0c901.vsidx
/.vs/VistaExamenPlanner/FileContentIndex/5358a146-47e1-4b2d-929f-2b870055a934.vsidx
/.vs/VistaExamenPlanner/FileContentIndex/46663ba2-31de-4822-bc04-7d6ec279cf0e.vsidx
/.vs/VistaExamenPlanner/FileContentIndex/1113f81a-dda5-4146-ba1d-913b0707c07d.vsidx
/.vs/VistaExamenPlanner/FileContentIndex/05ecabb0-3bf0-47dd-b292-c921910ed8cc.vsidx
